.item {
  padding: 0px 0 10px 0;
  margin: 5px;
  border: 1px solid #74777c;
  border-radius: 10px;
}

.itemimg {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.list {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
